.c-menu {
  background-color: aliceblue;
}

.c-menu a {
  text-decoration: none;
  padding: 8px 16px;
  margin: 16px;
}

.c-menu ul {
  display: flex;
  justify-content: center;
}

.c-menu li {
  list-style: none;
  background-color: aliceblue;
  margin: 16px
}

.c-menu a:hover {
  cursor: pointer;
  background-color: #d7ecff;
}