nav {
  background-color: aliceblue;
}

a {
  text-decoration: none;
  padding: 8px 16px;
  margin: 16px;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  background-color: aliceblue;
  margin: 16px
}

a:hover {
  cursor: pointer;
  background-color: #d7ecff;
}