.c-menu {}

.c-menu ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  background-color: #EDEDED;
  list-style: none;
}

.c-menu ul li {
  padding: 2px 10px;

  /* visual do link */
  background-color: #EDEDED;
  color: #333;
  text-decoration: none;
  border-bottom: 3px solid #EDEDED;
}

.c-menu ul li a {
  text-decoration: none;
}

/* mouse over link */
.c-menu ul li a:hover {
  background-color: #D6D6D6;
  color: #6D6D6D;
  border-bottom: 3px solid #EA0000;
}

/* unvisited link */
/* .c-menu ul li a:link {
  color: none;
} */

/* visited link */
.c-menu ul li a:visited {
  color: none;
}

/* selected link */
.c-menu ul li a:active {
  /* color: yellow; */
}